doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/css/styles.css")
  body
    h1= title
    form(action=`/notes/edit/${note.id}`, method='post')
      div
        label(for='title') Başlık:
        input(type='text', name='title', value=note.title, required)
      div
        label(for='content') İçerik:
        textarea(name='content', required)= note.content
      button(type='submit') Güncelle
    a(href='/notes') Notlara Dön
